---
import MySiteLayout from '../layouts/MySiteLayout.astro';
---
<MySiteLayout title="Mi blog de Astro aprendizaje">
	<p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
</MySiteLayout>
