---
const { title } = Astro.props;

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
    <body>
        <nav>
            <a href="/">Inicio</a>
            <a href="/about/">Sobre mi</a>
            <a href="/blog/">Blog</a>
        </nav>
        <h1>{title}</h1>
        <article>
          <slot /> <!-- tu contenido es inyectado aquí -->
        </article>
      </body>
</html>
